@import '../../page.module.scss';

#corePrinciples {
    position: relative;
    width: 100%;
    margin: $marginSection 0;
    padding-top: $marginSection;
    background-color: $pageBlackColour;
    overflow: hidden;

    .pageTitle {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        h2 {
            @include title-primary();
            color: $pageWhiteColour;
            text-align: center;
        }

        hr { @include hr-styles($pageWhiteColour); }
    }

    .missionDiv, .visionDiv {
        display: flex;
        justify-content: flex-end;

        .textSide {
            @include gap-text-measures();
            width: 48%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                @include text-primary();
    
                span {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }

        .imageSide {
            width: 48%;
            display: flex;
            align-items: flex-end;

            img {
                width: 80%;
                height: auto;
            }
        }
    }

    .missionDiv {
        background-color: $pageBlackColour;

        .textSide {
            p { color: $pageWhiteColour; }
        }

        .imageSide { justify-content: flex-end; }
    }

    .visionDiv {
        background-color: $pageWhiteColour;
        flex-direction: row-reverse;

        .imageSide { justify-content: flex-start; }
    }

    .valuesDiv {
        position: relative;
        display: flex;
        justify-content: space-between;

        .leftSide, .rightSide {
            width: 32%;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding: 0;

                li {
                    @include text-primary();
                    display: inline-flex;
                    align-items: center;
                    color: $pageWhiteColour;
                    column-gap: 10px;
    
                    svg {
                        width: 30px;
                        height: 30px;
                        fill: $pageWhiteColour;
                    }
                }
            }
        }

        .middleSide {
            width: 36%;

            display: flex;
            justify-content: center;
            align-items: flex-end;

            img {
                width: 100%;
                height: auto;
            }
        }

        .valuesText {
            position: absolute;
            width: max-content;
            background-color: $pageBlackColour;
            left: 50%;
            transform: translateX(-50%);
            bottom: 2px;
            padding: 4px;

            p {
                @include text-primary();
                color: $pageWhiteColour;

                span {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }
}

// Responsividade

@media #{$laptop} {
    #corePrinciples {
        .missionDiv, .visionDiv {
            .textSide { width: 56%; }

            .imageSide {
                width: 40%;

                img { width: 94%; }
            }
        }

        .valuesDiv {
            .leftSide, .rightSide { width: 30%; }

            .middleSide { width: 40%; }
        }
    }
}

@media (max-width: 1000px) {
    #corePrinciples {
        display: flex;
        flex-direction: column;
        align-items: center;

        .missionDiv, .visionDiv {
            flex-direction: column;

            .textSide, .imageSide {
                width: 100%;
                justify-content: center;

                img { width: 100%; }
            }

            .textSide {
                padding: $marginSection 0;
                row-gap: 20px;
                padding: 20px 5%;
            }
        }

        .valuesDiv {
            width: 100%;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 50% 50%;
            grid-template-areas:
            "leftSide rightSide"
            "middleSide middleSide";

            .leftSide, .rightSide {
                width: 100%;
                padding: $marginSection 0;

                ul {
                    row-gap: 20px;

                    li {
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            .leftSide { grid-area: leftSide; }

            .middleSide {
                width: 100%;
                grid-area: middleSide;

                img { width: 100%; }
            }

            .rightSide { grid-area: rightSide; }
        }
    }
}

@media #{$mobile} {
    #corePrinciples {
        .valuesDiv {
            grid-template-areas:
            "leftSide leftSide"
            "rightSide rightSide"
            "middleSide middleSide";
            row-gap: $marginSection;

            .leftSide, .rightSide { padding: 0; }
            
            .leftSide { padding: $marginSection 0 0 0; }
        }
    }
}