@import '../../page.module.scss';

#testimonials {
    position: relative;
    margin: $marginSection 0;

    h2 {
        @include title-primary();
        text-align: center;
    }

    .swiperContainer {
        width: 100%;
        display: flex;
        padding: 0 calc(5% - 10px);

        .swiperContent {
            width: 100%;
            display: flex;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            .testimonialElement {
                display: flex;
                scroll-snap-align: center;
                padding: 0 10px;
                width: auto;

                article {
                    position: relative;
                    width: 560px;
                    min-height: 320px;
                    height: auto;
                    background-color: #ffffff;
                    box-shadow: 0px 4px 8px rgba($pageBlackColour, 0.5);
                    border-radius: 12px;
                    border: 1px solid rgba($pageBlackColour, 0.2);
                    padding: 10px 20px;
                    margin: 20px 0;
        
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    row-gap: 10px;
        
                    .invertedCommas {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
        
                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
        
                    .text {
                        width: 100%;
                        height: 100%;
                        padding: 0 30px;
        
                        display: flex;
                        justify-content: flex-start;
        
                        p {
                            @include testimonials-text();
                        }
                    }
        
                    .userInfo {
                        width: 100%;
                        padding: 0 30px;
        
                        display: flex;
                        justify-content: flex-start;
        
                        div {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            column-gap: 20px;
        
                            img {
                                width: 70px;
                                height: 70px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
        
                            h5 {
                                @include testimonials-user-name();
                                text-transform: capitalize;
                            }
                        }
                    }
        
                    .stripes {
                        position: absolute;
                        width: 120px;
                        height: 120px;
                        right: 0;
                        bottom: 0;
                        border-bottom-right-radius: inherit;
        
                        &::before {
                            content: '';
                            position: absolute;
                            background-image: url('../../../../public/assets/images/StripesBackground.png');
                            background-position: right bottom;
                            background-size: cover;
                            width: 100%;
                            height: 100%;
                            border-bottom-right-radius: inherit;
                            mask-image: linear-gradient(-45deg, #fff 40%, transparent 40%);
                        }
                    }
                }
            }
        }
    }

    .dragDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;

        h4 {
            @include testimonials-user-name();
            text-align: center;
        }

        svg {
            width: 30px;
            height: 30px;
            transition: 0.5s all ease;

            &:hover {
                transform: rotate(45deg);
            }
        }
    }
}

// Responsividade

@media #{$laptop} {
    #testimonials {
        .swiperContainer {
            .swiperContent {
                .testimonialElement {
                    article {
                        width: 540px;
                        min-height: 310px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    #testimonials {
        .swiperContainer {
            .swiperContent {
                .testimonialElement {
                    article {
                        width: 500px;
                        min-height: 286px;
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    #testimonials {
        .swiperContainer {
            .swiperContent {
                .testimonialElement {
                    article {
                        min-width: 400px;
                        max-width: 420px;
                        min-height: 230px;
        
                        .text, .userInfo {
                            padding: 0;
                        }
        
                        .stripes {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }
        }
    }
}

@media #{$mobile} {
    #testimonials {
        .swiperContainer {
            .swiperContent {
                .testimonialElement {
                    article {
                        min-width: auto;
                        max-width: 84vw;
                        padding: 5px 10px;
    
                        .userInfo {
                            div {
                                column-gap: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}