@import '../base/variables';

#languagesSwitch {
    height: auto;

    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background-color: $pageBlackColour;
    padding: 2px;
    cursor: pointer;

    button {
        background: none;
        padding: 0;
        transition-property: background-color, opacity;
        transition-duration: 0.3s;

        display: flex;

        cursor: pointer;

        &:first-child { border-radius: 4px 0 0 4px; }

        &:last-child { border-radius: 0 4px 4px 0; }

        svg {
            width: 40px;
            height: 40px;
            padding: 0px 6px;
            box-sizing: content-box;
            opacity: 0.5;
        }
    }

    .selected {
        background-color: $pageWhiteColour;

        svg { opacity: 1; }
    }
}