@import '../../page.module.scss';

#footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px 40px;
    border-top: 30px solid $pageBlackColour;
    overflow: hidden;

    .topFooter {
        padding: 20px 0 10px 0;

        nav {
            display: flex;
            justify-content: space-between;

            .footerLogoDiv {
                img {
                    width: 250px;
                    height: auto;
                }
            }

            .footerHomeDiv,
            .footerOurWorksDiv,
            .footerAboutDiv,
            .footerSocialMediaDiv {
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                row-gap: 10px;

                a {
                    text-decoration: none;
                    opacity: 0.5;
                    transition: opacity 0.3s ease-in-out;

                    .topArrow {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        column-gap: 20px;
                        transition: column-gap 0.3s ease-in-out;

                        svg {
                            width: 50px;
                            
                            path {
                                fill: $pageBlackColour;
                            }
                        }
                    }

                    &:hover {
                        opacity: 1;
                        .topArrow {
                            column-gap: 40px;
                        }
                    }
                }

                h3 {
                    font-size: 24px;
                    color: $pageBlackColour;
                }

                span {
                    font-size: 18px;
                    color: $pageBlackColour;
                }
            }

            .footerSocialMediaDiv {
                div {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    column-gap: 10px;
                    margin-top: 14px;

                    a {
                        width: 36px;
                        height: 36px;
                        transition: transform 0.2s ease-in-out;
                        opacity: 1;

                        svg {
                            width: 100%;
                            height: 100%;
                            fill: #ffffff;
                            background-color: $pageBlackColour;
                            padding: 2px;
                            border-radius: 4px;
                        }

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }

    hr {
        width: 100%;
        height: 1px;
        background-color: rgba($pageBlackColour, 0.2);
    }

    .bottomFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0;

        h6 {
            font-weight: normal;
            font-size: 14px;
            text-align: center;
            color: $pageBlackColour;
        }
    }

    .sideLane {
        position: absolute;
        width: 350px;
        height: 200px;
        background-color: rgba($pageBlackColour, 0.1);
        bottom: -110px;
        left: -180px;
        z-index: -1;
        transform: rotate(45deg);
    }
}

// Responsividade

@media #{$laptop} {
    #footer {
        padding: 0 8px;
        .topFooter {
            nav {
                .footerLogoDiv {
                    img {
                        width: 240px;
                        height: auto;
                    }
                }
                .footerHomeDiv,
                .footerOurWorksDiv,
                .footerAboutDiv,
                .footerSocialMediaDiv {
                    width: 260px;

                    a {
                        .topArrow {
                            column-gap: 10px;
                            svg {
                                width: 40px;
                            }
                        }

                        &:hover {
                            .topArrow {
                                column-gap: 20px;
                            }
                        }
                    }

                    h3 {
                        font-size: 22px;
                    }

                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    #footer {
        padding: 0 20px;
        .topFooter {
            padding: 10px 0 20px 0;
            nav {
                display: grid;
                align-items: center;
                grid-template-columns: 50% 50%;
                grid-row-gap: 10px;

                &.pageHomeClass {
                    grid-template-areas:
                    "logo media"
                    "works about";
                }

                &.pageWorksClass {
                    grid-template-areas: 
                    "logo media"
                    "home about";
                }

                &.pageAboutClass {
                    grid-template-areas: 
                    "logo media"
                    "home works";
                }

                .footerLogoDiv {
                    grid-area: logo;
                }

                .footerHomeDiv {
                    grid-area: home;
                }

                .footerOurWorksDiv {
                    grid-area: works;
                }

                .footerAboutDiv {
                    grid-area: about;
                }

                .footerSocialMediaDiv {
                    grid-area: media;
                }

                .footerHomeDiv,
                .footerOurWorksDiv,
                .footerAboutDiv,
                .footerSocialMediaDiv {
                    width: 100%;

                    a {
                        .topArrow {
                            column-gap: 20px;
                        }
                    }

                    &:hover {
                        .topArrow {
                            column-gap: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    #footer {
        .topFooter {
            padding: 10px 0;
            nav {
                grid-template-areas:
                    "media"
                    "works"
                    "about"
                    "logo";
                grid-template-columns: 100%;
                justify-items: center;
                grid-row-gap: 30px;

                &.pageHomeClass {
                    grid-template-areas:
                    "media"
                    "works"
                    "about"
                    "logo";
                }

                &.pageWorksClass {
                    grid-template-areas: 
                    "media"
                    "home"
                    "about"
                    "logo";
                }

                &.pageAboutClass {
                    grid-template-areas: 
                    "media"
                    "home"
                    "works"
                    "logo";
                }

                .footerHomeDiv,
                .footerOurWorksDiv,
                .footerAboutDiv,
                .footerSocialMediaDiv {
                    align-items: center;
                }

                .footerSocialMediaDiv {
                    div {
                        justify-content: center;
                    }
                }
            }
        }
        .sideLane {
            left: -200px;
        }
    }
}