@import '../../page.module.scss';

// Animações
$wave-amplitude: 14px;

@keyframes wave {
    to {
        transform: translateY(-#{$wave-amplitude});
    }
}

@for $i from 1 through 3 {
    #loadingPage p span:nth-child(#{$i}) {
        animation-delay: #{0.1s * $i};
    }
} 


// Estilização Principal

#loadingPage {
    position: relative;
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $pageWhiteColour;
    overflow: hidden;
    
    cursor: progress;

    video, img {
        max-width: 400px;
        width: 90%;
        height: auto;
        max-height: 85vh;
    }

    p {
        span {
            @include h1-text();
            display: inline-block;
            animation: wave 1s infinite alternate;
        }
    }
}