@import '../../page.module.scss';

#topBackgroundSection {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url('../../../../public/assets/images/about/BackgroundRoom.png');
    background-position: center 42%;
    background-size: cover;
    background-repeat: no-repeat;
}

// Responsividade

@media #{$tablet} {
    #topBackgroundSection {
        height: 200px;
    }
}