@import '../base/variables';
@import '../base/mixins';

// Animações
@keyframes spinRound {
    to { transform: rotate(360deg); }
}

// Estilização principal

.loginBtn {
    all: unset;
    @include input-style();
    width: 50%;
    height: 46px;
    background-color: $pageWhiteColour;
    cursor: pointer;

    span {
        height: 100%;
        font-size: 20px;
        color: $pageBlackColour;
        text-transform: uppercase;
        font-weight: 600;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        svg {
            width: auto;
            height: 80%;
            transition: transform 1s ease-out;

            &.spinIcon {
                animation: spinRound 0.8s infinite linear;
            }
        }
    }

    &:hover:not(:disabled) span svg {
        transform: rotate(360deg);
    }

    &:disabled { filter: brightness(50%) }

    &.facebook {
        background-color: #1877F2;

        span { color: $pageWhiteColour; }
    }
}

// Responsividade

@media #{$tablet} {
    .loginBtn {
        span { font-size: 18px; }
    }
}

@media #{$mobile} {
    .loginBtn {
        span { font-size: 16px; justify-content: space-around; }
    }
}