@import '../styles/base/mixins';
@import '../styles/base/variables';

@font-face {
  font-family: adelia;
  src: url('../../public/assets/fonts/adelia.otf');
  font-display: swap;
}

@font-face {
  font-family: goldlines;
  src: url('../../public/assets/fonts/Gold\ Lines\ Trial.otf');
  font-display: swap;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


// Estilizações padrões

h2 { @include title-primary(); }

p { @include text-primary(); }