@font-face {
  font-family: adelia;
  src: url('../../public/assets/fonts/adelia.otf');
  font-display: swap;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}