@import '../base/variables';
@import '../base/mixins';

.loader {
    aspect-ratio: 600 / 400;

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $pageBlackColour;

    span { @include load-spin-style(); }
}

#aboutSection {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: $marginSection 0;
    padding-right: 2.5%;

    .leftSide {
        width: 48%;
        padding: 16px 0;

        display: flex;
        justify-content: center;
        align-items: center;

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 90%;
                height: auto;
            }
        }
    }

    .rightSide {
        position: relative;
        width: 48%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h2 {
            text-align: left;
        }

        svg {
            position: absolute;
            width: 100px;
            height: auto;
            top: 10px;
            right: 10px;
            opacity: 0.15;
            transform: rotate(34deg);
        }

        .aboutText {
            @include gap-text-measures();
            display: flex;
            flex-direction: column;
        }
    }
}

// Responsividade

@media #{$laptop} {
    #aboutSection {
        .leftSide { width: 50%; }

        .rightSide {
            width: 50%;

            svg {
                top: 8px;
                right: 0px;
            }
        }
    }
}

@media (max-width: 1000px) {
    #aboutSection {
        flex-direction: column;
        align-items: center;
        padding: 0;

        .leftSide, .rightSide { width: 90%; }

        .leftSide {
            padding: 0 0 16px 0;

            div {
                width: 100%;

                img, .loader { width: 100%; }
            }
        }

        .rightSide {
            justify-content: flex-start;
            align-items: flex-start;
            row-gap: 20px;

            svg { display: none; }
        }
    }
}