@import '../base/variables';

#section4 {
    width: 100%;
    height: 450px;
    background: url('../../../public/assets/images/LonyFooterLogo.webp') #EEE;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-attachment: fixed;

    margin: $marginSection 0 0 0;
    padding: $marginSection 5%;
}

@media #{$tablet} {
    #section4 { background-size: 75%; }
}