@import '../../page.module.scss';

.background, .flipBackground {
    position: relative;
    width: 100%;
    min-height: 100lvh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background { background-image: url('../../../../public/assets/images/auth/BackgroundLoginHorizontal.webp'); }

.flipBackground { background-image: url('../../../../public/assets/images/auth/BackgroundRegisterHorizontal.webp') ;}

// Responsividade

@media #{$tablet} {
    .background {
        background-image: url('../../../../public/assets/images/auth/BackgroundLoginVertical.webp');
    }

    .flipBackground {
        background-image: url('../../../../public/assets/images/auth/BackgroundRegisterVertical.webp');
    }
}