@import './variables';

// Mixings

@mixin h1-text() {
    font-size: 44px;
    font-weight: 500;
    font-family: inherit;
    color: $pageBlackColour;

    @media #{$laptop} {
        font-size: 36px;
    }

    @media #{$tablet} {
        font-size: 34px;
    }

    @media #{$mobile} {
        font-size: 32px;
    }
}

@mixin title-primary() {
    font-size: 40px;
    font-weight: 500;
    font-family: inherit;
    color: $pageBlackColour;

    @media #{$laptop} {
        font-size: 34px;
    }

    @media #{$tablet} {
        font-size: 32px;
    }

    @media #{$mobile} {
        font-size: 30px;
    }
}

@mixin text-primary() {
    font-size: 20px;
    font-family: inherit;
    color: $pageBlackColour;

    @media #{$laptop} {
        font-size: 18px;
    }
}

@mixin side-menu-text() {
    font-size: 22px;
    font-family: inherit;
    color: $pageBlackColour;
    border-radius: 8px;
    transition: background-color 0.1s ease-in;

    a svg {
        width: 36px;
        height: 36px;
        margin-right: 20px;
        fill: transparent;
        stroke: $pageBlackColour;
        stroke-width: 20px;
    }

    &:hover {
        background-color: rgb(0 0 0 / 0.05);
    }
}

@mixin testimonials-text() {
    font-size: 18px;
    font-family: inherit;
    color: $pageBlackColour;

    @media #{$laptop} {
        font-size: 16px;
    }
}

@mixin testimonials-user-name() {
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    color: $pageBlackColour;

    @media #{$mobile} {
        font-size: 14px;
    }
}

@mixin gap-text-measures() {
    row-gap: 20px;

    @media #{$laptop} and (min-width: 999px) {
        row-gap: 12px;
    }
}

@mixin close-menu-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
    transition: ease-in 0.3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        background-color: #e74c3c;
    }

    svg {
        width: 100%;
        height: 100%;
    } 
}

@mixin arrows-left-right-styles() {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    border-radius: 100%;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
    }
}

@mixin hr-styles($color) {
    width: 100px;
    height: 2px;
    background-color: $color;

    @media #{$mobile} {
        width: 80px;
    }
}

// Loading mixin's

@mixin load-spin-style() {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: auto;
    background: $pageWhiteColour;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
            mask-composite: subtract;
    animation: spin-load 1s infinite linear;

    @keyframes spin-load {to{transform: rotate(1turn)}}
}

@mixin load-background-style() {
    width: 100%;

    background: linear-gradient(90deg, #333 25%, #555 50%, #333 75%);
    background-size: 200% 100%;
    animation: background-load 1.5s infinite linear;

    @keyframes background-load {
        0% { background-position: 200% 0; }
        100% { background-position: -200% 0; }
    }
}

@mixin input-style() {
    font-size: 18px;
    font-family: inherit;
    width: 100%;
    height: 40px;
    border-radius: 6px;

    padding: 0 10px;

    transition: box-shadow 0.1s;

    &:focus {
        outline: 1px solid $pageBlackColour;
        box-shadow: 0px 0px 0px 2px $pageWhiteColour;
        border-radius: 6px;
    }

    &[type=password]::-ms-reveal,
    &[type=password]::-ms-clear {
        display: none;
    }
}