// Variáveis
$laptop: '(max-width: 1280px)';
$tablet: '(max-width: 768px)';
$mobile: '(max-width: 480px)';

$marginSection: 18px;
$pageBlackColour: #111;
$pageWhiteColour: #fff;
$pageErrorColour: #ff2020;